extends ./layout.jade

block content
    .row
        .large-12.columns.history
            if searches
                ul
                    for search in searches
                        li
                            small #{moment(search.created_at).format('MM/DD/YYYY')}
                            em #{search.body.replace(/[ ]*,[ ]*|[ ]+/g, ' > ')}
                    else
                        p get on it!
