extends ./layout.jade

block content
    .row
        .large-12.columns.history
            if searches
                ul
                    for search in searches.reverse()
                        li
                            span #{moment(search.created_at).format('MMMM Do, YYYY')}
                            em &nbsp;-&nbsp;#{search.body.replace(/[ ]*,[ ]*|[ ]+/g, ' > ').replace(/[ ]*\/wiki\/[ ]*|[ ]+/g,' ')}
                    else
                        p Your search history is automatically saved and shown here...
