extends ./layout.jade

block content
    .row
        .large-12.columns.history
            table(role='grid', summary='Search History')
              thead
                tr
                  th Date
                  th Sequence
              tbody
                if searches
                    for search in searches.reverse()
                        tr
                            td #{moment(search.created_at).format('MMMM Do, YYYY')}
                            td #{search.body.replace(/[ ]*,[ ]*|[ ]+/g, ' > ').replace(/[ ]*\/wiki\/[ ]*|[ ]+/g,' ')}
                    else
                        tr
                            td Your search history is automatically saved and shown here...
