extends layout.jade

block content
    .row
        .large-12.columns
          p Start by entering a parent term and the end topic you wish you arrive at. We'll scan the main article page and all linked articles, if not found, it will search all linked articles of all child page internal content links until a connection is reached.

          form#search(action='scrape', data-abide='ajax')
            fieldset
              .row
                .large-6.columns
                  label Start
                    input(name='start', type='text', required='', pattern='[a-zA-Z]+')
                  small.error 'Start' is required and must be a string.
                .large-6.columns
                  label End
                    input(name='end', type='text', required='', pattern='[a-zA-Z]+')
                  small.error 'End' is required and must be a string.
              .row
                .large-12.columns.text-right
                    label Exact Word
                        em  ('skate' vs 'skate'board)
                        input(name='exact', type='checkbox', value='true')

                .large-12.columns.text-right
                  .loader
                  button.reset.medium.secondary.button(type='reset')
                    i
                  button.submit.medium.primary.button(type='submit')
                    i
      .row
        .large-12.columns
          #results
