extends layout.jade

block content
    .row
        .large-12.columns
          p The goal is to find a connection between two terms in Wikipedia.
          p Begin by supplying two terms, we'll initiate the search on the article page for your #[b start] term, if it exists.
          p We'll then scan that article page for your #[b end] term. If not found, we'll then scan all of the linked articles, and so on until a connection is finally reached.
          p This could take some time...

          form#search(action='scrape', data-abide='ajax')
            fieldset
              .row
                .large-6.columns
                  label Start
                    input(name='start', type='text', required='', pattern='[a-zA-Z]+')
                  small.error 'Start' is required and must be a string.
                .large-6.columns
                  label End
                    input(name='end', type='text', required='', pattern='[a-zA-Z]+')
                  small.error 'End' is required and must be a string.
              .row
                .large-12.columns.text-right
                    label Exact Word
                        em  ('skate' vs 'skate'board)
                        input(name='exact', type='checkbox', value='true')

                .large-12.columns.text-right
                  .loader
                  button.reset.medium.secondary.button(type='reset')
                    i
                  button.submit.medium.primary.button(type='submit')
                    i
      .row
        .large-12.columns
          .results
