extends layout.jade

block content
    .row
        .large-12.columns
          p We'll start searching for your end term on the start term Article page. If not found, we'll continue looking on all the linked Wikipedia Articles in the content of the current page and continue the search on all of the child page internal content links.
          p Hold tight, this could take a while...

          form#search(action='scrape', data-abide='ajax')
            fieldset
              .row
                .large-6.columns
                  label Start
                    input(name='start', type='text', required='', pattern='[a-zA-Z]+')
                  small.error 'Start' is required and must be a string.
                .large-6.columns
                  label End
                    input(name='end', type='text', required='', pattern='[a-zA-Z]+')
                  small.error 'End' is required and must be a string.
              .row
                .large-12.columns.text-right
                  label Exact Word ( 'skateboard' vs 'skateboard'ing )
                    input(name='exact', type='checkbox', value='true')

                .large-12.columns.text-right
                  .loader
                  button.reset.medium.secondary.button(type='reset')
                    i
                  button.submit.medium.primary.button(type='submit')
                    i
      .row
        .large-12.columns
          #results
