doctype html
html
  head
    meta(charset='utf-8')
    title Linkipedia
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
    link(rel='icon', href='/img/favicon.ico', type='image/x-icon')
    link(href='/css/foundation.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body

    .row
        .large-2.small-3.columns
          a(href='/')
            img(class='logo', src='/img/logo.png', alt='Wikipedia Lineage')
        .large-10.small-9.columns
            h1.h1 Linkipedia
            ul.menu
              li(class = path =='/' ? 'active':undefined)
                a(href='/') Search
              li(class = path =='/history' ? 'active':undefined)
                a(href='/history') History
    .row
      .large-12.columns
        hr
    block content

    script(src='//d3js.org/d3.v3.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='/js/jquery-2.1.4.min.js')
    script(src='/js/tablesort.min.js')
    script(src='/js/foundation/foundation.js')
    script(src='/js/foundation/foundation.abide.js')
    script(src='/js/scripts.js')
