doctype html
html
  head
    meta(charset='utf-8')
    title Wikipedia Lineage
    link(href='/css/foundation.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    .content
        .row
            .large-12.columns
                h1 Wikipedia Lineage
        block content

    script(src='/js/jquery-2.1.4.min.js')
    script(src='/js/foundation/foundation.js')
    script(src='/js/foundation/foundation.abide.js')
    script(src='/js/scripts.js')
