body {
  background: #f6f6f6;
}

.content {
	margin: 40px 0 0;
}

.logo {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 30000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 30000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 30000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
  position: relative;
  top: 0;
  width: 100%;
}

hr {
  border-width: 0;
  height: 20px;
  margin-top: 0;
}

.h1 {
  margin: 20px 0 0;
}

svg {
  border-color: #258AD8;
}

fieldset {
  border-color: #258AD8;
  border-top: none;
  margin-top: 50px;
  position: relative;

  &::before {
    background-image: url('../img/bookshelf.png');
    background-size: 40px auto;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: -20px;
    width: 100%;
  }
}

body.loading .loader {
  display: inline-block;
}

input {
  &[type="checkbox"] {
    margin-left: 10px;
  }

  &[type="text"] {
    border-color: #aaa;
  }
}

.loader {
	background: url('../img/loading.gif') no-repeat center;
	display: none;
	padding: 16px 0;
	position: relative;
	right: 10px;
	top: 10px;
	width: 32px;
}

i {
	display: inline-block;
	height: 20px;
	width: 20px;
}

.reset i {
	background: url('../img/search-reset.png') no-repeat center;
	background-size: 100%;
}

.submit i {
	background: url('../img/search.png') no-repeat center;
	background-size: 100%;
}

.menu {
  list-style-type: none;
  margin: 0 0 10px;

  li {
    display: inline-block;
    margin: 0 10px 0 0;

    &.active {
      text-decoration: underline;
    }
  }
}

.history {
  ul {
    list-style-type: none;
    margin: 0;
  }

  small {
    margin-right: 10px;
  }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
